<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/movie.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>

<main>
    <% if (movs.length > 0) { %>
        <div class="grid">
            <% for (let movie of movs) { %>
                <article class="card movie-item">
                    <header class="card__header">
                        <h1 class="movie__title"><%= movie.title %></h1>
                    </header>
                    <div class="card__image">
                        <img src="<%= movie.imageUrl %>"
                             alt="<%= movie.title %>">
                    </div>
                    <div class="card__content">
                        <h2 class="movie__price">$<%= movie.price %></h2>
                        <p class="movie__description"><%= movie.description %></p>
                    </div>
                    <div class="card__actions">
                        <button class="btn">Add to Cart</button>
                    </div>
                </article>
            <% } %>
        </div>
    <% } else { %>
        <h1>No Movies Found!</h1>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>