<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation.ejs') %>
<main class="centered">
    <h1><%= movie.title %></h1>
    <hr>
    <div>
        <img src="<%= movie.imageUrl %>" alt="<%= movie.title %>">
    </div>
    <h2><%= movie.price %></h2>
    <p><%= movie.description%></p>
    <%- include('../includes/add-to-cart.ejs', {movie: movie})%>
</main>
<%- include('../includes/end.ejs') %>